{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
 
 
{% block content %}
<div style="margin-top:0px;background-image:url( {% static 'images/cloud.jpg' %} )">

    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="/login/" method="post">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              {% csrf_token %}
              <h2 class="text-center" style="margin-top:10%;color:#FFFFFF">欢迎登录</h2>

              <!--通过{{ login_form.name_of_field }}获取每一个字段，然后分别渲染-->
              <div class="form-group" style="margin-top:10%;">
                  {{ login_form.username.label_tag }}
                  {{ login_form.username}}
               </div>
              <div class="form-group">
                  {{ login_form.password.label_tag }}
                  {{ login_form.password }}
              </div>

              <button type="reset" class="btn pull-left" style="background-color: #FA4A5C;margin: 10%;color: #FFFFFF;">重置</button>
              <button type="submit" class="btn pull-right" style="background-color: #FA4A5C;margin-top: 10%;color: #FFFFFF;position:relative;right:30px;">提交</button>

          </form>
        </div>
    </div> <!-- /container -->

    <div class="footer">
        <h2>&copy; 2019 OMBB. All rights reserved | Design by
            <a href="http://w3layouts.com">324</a>
        </h2>
    </div>

</div>
{% endblock %}